body{

	background: url('contact.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: Arial;
	color: white;


}

ul{

	margin: 0px;
	padding: 0px;
	list-style: none;

}

ul li{

	float: right;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;

}

ul li a{

	text-decoration: none;
	opacity: .7;
	color: white;
	display: block;

}

ul li a:hover{

	background-color: green;

}


ul li ul li{
	display: none;
}

ul li:hover ul li{
	
	display: block;

}