body{

	background: url('St_johns.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: Arial;
	color: white;


}

h1{

	position: absolute;
	margin-top:200px;
	margin-right: 200px;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}


h3{

	position: absolute;
	margin-top:250px;
	margin-left: 15px;
	color: white;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}

h4{

	position: absolute;
	margin-top:275px;
	margin-left: 15px;
	color: white;
	
}

h5{

	position: absolute;
	margin-top:295px;
	margin-left: 15px;
	color: white;
    top:10px;
    left:10px;
    width:320px;
    height:20px;
    background-color:white;
    z-index:0;
    opacity:0.6;

}

ul{

	margin: 0px;
	padding: 0px;
	list-style: none;

}

ul li{

	float: right;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;

}

ul li a{

	text-decoration: none;
	opacity: .7;
	color: white;
	display: block;

}

ul li a:hover{

	background-color: green;

}


ul li ul li{
	display: none;
}

ul li:hover ul li{
	
	display: block;

}